* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #e8e8e8;
    color: #4e4a4a;
}

#container {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

#framie {
    height: 100%;
    transition: 0.8s;
    position: relative;
    z-index: 2;
    padding-bottom: 60px;
    left: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: white;
    box-shadow: 4px 0 13px -7px #000000;
}

#unitId {
    top: 2%;
    z-index: 1;
    display: flex;
    position: fixed;
}

#allList {
    display: flex;
    grid-row-gap: 1vh;
    margin: auto;
    padding: 5px;
    transition: 0.8s ease-out;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 40px;
    color: white;
}

.allExtra {
    grid-row-gap: .5vh !important;
}

#bigNumber {
    display: inline-grid;
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    transition: 0.8s ease-out;
}

.bigNum {
    display: inline-flex;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1vh;
    grid-column-gap: 1vh;
    width: -webkit-fill-available;
    justify-content: start;
    transition: 0.8s ease-out;
}

.bigNumOne {
    justify-content: center !important;
    grid-template-columns: auto !important;
    width: unset !important;
}

.bigNumWrap {
    width: -webkit-fill-available;
    display: inline-flex;
    justify-items: stretch;
    cursor: default;
    padding: 4.2px;
    border-radius: 5px;
    width: 150px;
    height: 75px;
    flex-direction: column;
    background: #837c7c;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 15%);
}

.bigC {
    background: #009c63;
}

.bigL2 {
    grid-template-columns: auto auto !important;
}

.bigL3 {
    grid-template-columns: auto auto auto !important;
}

#sensorList {
    display: inline-grid;
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    justify-content: start;
    transition: 0.8s ease-out;
}

.sensorL4 {
    grid-template-columns: auto auto auto auto;
}

.sensorL3 {
    grid-template-columns: auto auto auto;
}

.sensorL2 {
    grid-template-columns: auto auto;
}

.sensorL1 {
    grid-template-columns: auto !important;
    justify-content: center !important;
}

#sliderList {
    display: grid;
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    min-width: 284px;
    transition: 0.8s ease-out;
}

#sliderList .sensorset {
    width: inherit;
    height: 40px;
    background: #837c7c;
}

#sensorList .sensorset {
    min-height: 60px;
}

.clickables:active {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transition: 0.1s
}

.slider {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    width: calc(100% + 44.2px);
    left: -24.2px;
    mix-blend-mode: color;
    height: inherit;
    background: #847d7d;
}

.sliderAmount {
    margin-top: -4px;
}

slider::-webkit-slider-runnable-track {
    background: black;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 50px;
    cursor: pointer;
    box-shadow: -100vw 0 0 100vw #458fd1;
    border-left: 20px solid #458fd1;
    border-right: 20px solid #837c7c;
}

.slider::-moz-range-thumb {
    width: 0;
    height: 70px;
    cursor: pointer;
    box-shadow: -100vw 0 0 100vw #458fd1;
    border-left: 20px solid #458fd1;
    border-right: 20px solid #837c7c;
}


.slider::-moz-range-track {
    height: 100vh;
    background: #ebebeb;
}

.slTS {
    -webkit-appearance: none;
    position: absolute;
    height: 40px;
    z-index: 1;
    border-radius: 5px;
    width: 100%;
    top: 0px;
    mix-blend-mode: overlay;
    pointer-events: none;
    background-color: #8a8787;
}

.slTS:hover {
    background-color: transparent;
}

.slTS:nth-child(1)::-webkit-slider-thumb {
    border-left: 10px solid #d25e42;
    border-right: 10px solid #458fd1;
}

.slTS:nth-child(2)::-webkit-slider-thumb {
    border-left: 10px solid #458fd1;
    border-right: 10px solid #d25e42;
}

.slTS:nth-child(1)::-moz-range-thumb {
    border-left: 10px solid #d25e42;
    border-right: 10px solid #458fd1;
}

.slTS:nth-child(2)::-moz-range-thumb {
    border-left: 10px solid #458fd1;
    border-right: 10px solid #d25e42;
}

.slTS::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 40px;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
}

.slTS::-moz-range-thumb {
    width: 0;
    height: 100vh;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
}

.slTimeSet {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slTimeSetWrap {
    height: 40px;
    padding: 4.2px;
    border-radius: 5px;
    position: relative;
    background: #736f6f;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 15%);
}

.slTimeText {
    position: absolute;
    right: 4.2px;
    bottom: 2.2px;
    font-weight: normal;
}

.sensorset:not(.btnTile) {
    background-color: #847d7d;
}

.sensorset {
    display: flex;
    justify-items: stretch;
    flex-direction: column;
    padding: 4.2px;
    flex-wrap: nowrap;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    position: relative;
    align-items: stretch;
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 15%);
}

.valueBig {
    font-size: 27pt;
    text-align: right;
}

.valuesBig {
    background: none;
    overflow-wrap: anywhere;
}

.valWrap {
    background: #ffffff28;
    border-radius: 5px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.vInputs {
    height: 30px;
    width: 84%;
    border: 0;
    background: none;
    text-align: end;
    color: inherit;
}
.vInputs:focus-visible {
    width: inherit;
}

input:focus::placeholder {
    opacity:0.2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.kindInput {
    padding-left: 1px;
}

.on {
    background-color: #3e88cb !important;
}

.alert {
    background-color: #d8524f !important
}

.btnTile {
    background: #635d5d;
}

.sensors {
    padding-bottom: 2%;
    overflow-wrap: anywhere;
}

.values {
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-column-gap: 5px;
    overflow-wrap: anywhere;
    align-items: end;
}

.cron {
    padding-bottom: 1pt;
    text-align: end;
}

input::placeholder {
    opacity: 1;
    color: white;
}

a {
    display: inline-block
}

#opener {
    bottom: 0;
    z-index: 2;
    width: 100%;
    position: fixed;
}

.open {
    background: none;
    display: flex;
    max-width: 200px;
    align-items: center;
    margin: auto;
    padding-bottom: 2vh;
    justify-content: space-between;
}

.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: -280px;
    background-color: #111111d9;
    transition: 0.8s;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: white;
}

.menueItem {
    display: grid;
    justify-content: start;
    grid-template-columns: 25px auto;
}

.numberUnit {
    font-size: 10px;
    color: #818181;
}

#menueList div:hover {
    color: #444444
}

.nc {
    word-break: break-all;
}

.sideNbtn {
    position: absolute;
    bottom: 2%;
    font-size: 35px;
    color: #b3b3b3;
}

.openSys {
    left: 20px;
    width: 40px;
}

.closeBtn {
    right: 20px;
}

#menueList {
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    transition: .2s;
    width: max-content;
    max-width: 280px;
}

#menueList::-webkit-scrollbar {
    display: none;
}

#menueList div {
    padding: 3px;
    font-size: 25px;
}

#sysInfo {
    background: #ffffff17;
    color: white;
    transition: 0.5s;
    border-radius: 5px;
    width: 200px;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.syspair {
    display: flex;
    justify-content: flex-start;
}

.syspair>div {
    font-size: 8pt !important;
}

.syspair div:nth-child(1) {
    text-align: end;
    width: 35%;
    padding-right: 5px;
}

.menueWrap {
    transition: .5s;
    height: 185px;
    width: 100%;
    flex-shrink: 999;
}


@media screen and (max-height: 450px) {
    framie {
        padding-bottom: 40px;
    }

    #opener {
        height: 40px;
    }
}

@media screen and (max-width: 799px) {
    #framie {
        position: absolute;
    }
}

@media screen and (max-width: 450px) {
    #allList {
        grid-row-gap: 5px;
        min-width: unset;
    }

    #opener {
        height: 40px;
    }

    #framie {
        padding-bottom: 40px;
    }

    .allExtra {
        grid-row-gap: 2.5px !important;
    }

    #bigNumber {
        grid-row-gap: 5px;
    }

    .bigSpan:nth-child(1) {
        grid-row: 1 / span 2;
        height: 100%;
    }

    #sliderList {
        grid-column-gap: 1vh;
        grid-row-gap: 5px;
    }

    #sensorList {
        grid-template-columns: auto auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;

    }

    .bigNum {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        width: 50%;
    }

    .sensors {
        padding-bottom: 2%
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(0, 0, 0);
        color: #b3b3b3;
    }

    input::placeholder, #allList{
        color: #b3b3b3;
    }
    

    iframe, .slTimeSetWrap {
        background: black;
    }

    #opener {
        background: #000000a8;
    }

    .bigNumWrap {
        background: #444444;
    }

    .bigC {
        background: #553630;
    }

    .slTS {
        mix-blend-mode: lighten;
        background-color: #444444 !important;
    }

    .slTS:nth-child(1)::-webkit-slider-thumb {
        border-left: 10px solid #6d1343;
        border-right: 10px solid #44607a;
    }

    .slTS:nth-child(2)::-webkit-slider-thumb {
        border-left: 10px solid #44607a;
        border-right: 10px solid #6d1343;
    }

    .slTS:nth-child(1)::-moz-range-thumb {
        border-left: 10px solid #6d1343;
        border-right: 10px solid #44607a;
    }

    .slTS:nth-child(2)::-moz-range-thumb {
        border-left: 10px solid #44607a;
        border-right: 10px solid #6d1343;
    }

    .slider {
        mix-blend-mode: lighten;
        background-color: #444444 !important
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        box-shadow: -100vw 0 0 100vw #44607a;
        border-left: 20px solid #44607a;
        border-right: 20px solid #444444;
    }

    .slider::-moz-range-thumb {
        box-shadow: -100vw 0 0 100vw #44607a;
        border-left: 20px solid #44607a;
        border-right: 20px solid #444444;
    }

    .slider::-moz-range-track {
        height: 100vh;
        background: #444444;
    }

    .on {
        background-color: #44607a !important
    }

    .alert {
        background-color: #553044 !important
    }

    .valueBig {
        background: none;
    }

    .btnTile {
        background: #333;
    }

    .sensorset:not(.btnTile),
    #sliderList .sensorset {
        background-color: #444;
    }
}